// ==== MONOCHROME SHADES =====================================================
 
$white: #fff;
$light-gray: #e4e4e4;
$gray: #9B9B9B;
$dark-gray: #4A4A4A;
$black: #171717;
$trueBlack: #000;

// ==== PRIMARY COLORS ========================================================

$blue-lightShade: #4978A6; //light shade of primary color
$blue-primary: #315786; //primary color
$blue-darkShade: #1E3E6F; //dark shade of primary color
$blue-darkestShade: #0E2C60; //darkest shade of primary color

// ==== SECONDARY COLORS ======================================================

$red-lightShade: #FD3B50; //light shade of secondary color
$red-secondary: #EF0920; //secondary color
$red-darkShade: #D30215; //dark shade of secondary color
$red-darkestShade: #B70111; //darkest shade of secondary color